<!-- <%- include ("partials/header.ejs") %>

<h1>INDEX PAGE</h1>

<div class = "ui main  container segment">
<% blogs.forEach(function(blog){ %>
	 <div class = "ui segment"> 
		 <a class"nostyle" href="/blogs/<%=blog._id%>">
		 	<h2 class = "ui huge header"> <%= blog.title %> </h2>
		 	<img class = "ui centered medium image" src= "<%= blog.image %>">
		 </a>
	 	<span> <%= blog.created.toDateString() %> </span>
	 	<p> <%- blog.body.substring(0, 200) %>...</p>
	 	<a href="/blogs/<%=blog._id%>" class="mini ui grey right labeled icon button">
		  <i class="right arrow icon"></i>
		  More
		</a>
	 </div>
<% }) %>

<%- include ("partials/footer.ejs") %>





</div> -->























<%- include("partials/header.ejs") %>

<div class="ui main container segment">
  <!-- <h1>INDEX PAGE</h1> -->

  <% blogs.forEach(function(blog) { %>
  <div class="ui segment">
    <a class="nostyle" href="/blogs/<%=blog._id%>">
      <h2 class="ui huge header"><%= blog.title %></h2>
      <img class="ui centered medium image" src="<%= blog.image %>">
    </a>
    <span><%= blog.created.toDateString() %></span>
    <p><%- blog.body.substring(0, 200) %>...</p>
    <a href="/blogs/<%=blog._id%>" class="mini ui grey right labeled icon button">
      <i class="right arrow icon"></i>
      More
    </a>
  </div>
  <% }) %>

  <div class="ui segment">
	<h2 class="ui header">Next game fixture:</h2>
	<% if (nextFixture) { %>
	  <p><%= nextFixture.homeTeam %> vs <%= nextFixture.awayTeam %></p>
	  <p><%= nextFixture.fixtureDate %></p>
	  <p><%= nextFixture.fixtureTime %></p>
	  <p><%= nextFixture.fixtureVenue %></p>
	<% } else { %>
	  <p>No upcoming fixtures found.</p>
	<% } %>
  </div>
  
</div>

<%- include("partials/footer.ejs") %>
